* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background: black;
  color: white;
}

/* Container */
.main {
  width: 90%;
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

/* Header */
.header {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo {
  width: 60px;
  height: 60px;
  background: white;
  border-radius: 50%;
}

/* Form */
.form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  padding: 10px;
  border: none;
  outline: none;
}
select {
  padding: 10px;
  border: none;
  outline: none;
  background: white;
  color: black;
}


button {
  padding: 10px;
  border: none;
  cursor: pointer;
  background: #222;
  color: white;
}

button:hover {
  background: #333;
}

/* Table */
table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #444;
  padding: 10px;
  text-align: center;
}

/* Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  backdrop-filter: blur(5px);
  justify-content: center;
  align-items: center;
}

.modal-box {
  background: #111;
  padding: 20px;
  text-align: center;
}

/* Responsive */
@media (max-width: 600px) {

  .header {
    flex-direction: column;
    text-align: center;
  }

  .logo {
    width: 50px;
    height: 50px;
  }

  table {
    font-size: 12px;
  }
}
